@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Anton", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-cursive: "Lobster", cursive;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
}

/* Custom Scrollbar for Letterboxd List */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}